---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Sobre mí | Mi Landing Astro" description="Conoce más sobre el proyecto y su desarrollo.">
  <section class="content">
    <h2>Sobre mí</h2>
    <p>Esta landing fue creada como migración a Astro para mejorar rendimiento y SEO.</p>
    <picture>
      <img src="https://images.pexels.com/photos/20101490/pexels-photo-20101490.jpeg" alt="Desarrollador" height="500px" width="500px"/>
    </picture>
  </section>
</BaseLayout>