---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
---
<BaseLayout title="Blog | Mi Landing Astro" description="Artículos y novedades sobre Astro.">
  <section class="cards">
    <Card title="Por qué usar Astro" text="Framework moderno y veloz." img="https://images.pexels.com/photos/5831708/pexels-photo-5831708.jpeg" />
    <Card title="Optimización SEO" text="Astro permite meta dinámicos fáciles." img="https://images.pexels.com/photos/5256689/pexels-photo-5256689.jpeg" />
  </section>
</BaseLayout>