<nav>
  <a href="/" data-astro-prefetch>Inicio</a>
  <a href="/about" data-astro-prefetch>Sobre mí</a>
  <a href="/blog" data-astro-prefetch>Blog</a>
  <a href="/contact" data-astro-prefetch>Contacto</a>
</nav>